@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .fade-in-out {
    animation: fadeInOut 2s infinite;
  }
  

  
  .modal {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.75);
  }

  /* App.css */
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

/* Optional: Add some padding or margins to content inside sections */
.section > * {
  padding: 20px; /* Adjust as necessary */
}

.underline {
  text-decoration: underline;
  text-decoration-color: white; /* Change to your desired color */
}
